<nav class="header">
	<a href="/">
		<h1>Hall of Game</h1>
	</a>
	<div class="nav-links">
		<a href="/games"><button>Games</button></a>
		<a href="/items"><button>Items</button></a>
		<a href="/games/new"><button>Add Game</button></a>
	</div>
</nav>
