<nav
	class="
		p-2
		navbar
		d-flex
		justify-content-between
		align-items-center
		bg-black
		pb-3
	"
>
	<div class="container">
		<a href="/">
			<h1 class="text-light">Hall of Game</h1>
		</a>
		<div class="nav-links">
			<a href="/games"><button class="btn text-light">Games</button></a>
			<a href="/items"><button class="btn text-light">Items</button></a>
			<a href="/games/new"
				><button class="btn bg-dark text-light">+ Add Game</button></a
			>
		</div>
	</div>
	<div class="rgb animated-gradient-hr"></div>
</nav>
