body {
	background-color: rgb(9, 9, 9);
}

a {
	display: inline;
	list-style: none;
	text-decoration: none;
	color: white;
}

.card-img-top {
	aspect-ratio: 16/9;
}

.detail-img {
	width: fit-content;
}

a:hover {
	text-decoration: none;
	color: white;
}

.card {
	transition: transform 300ms, border-color 300ms;
}

.card-body {
	background-color: #343a40;
	transition: background-color 300ms;
	border-radius: 0 0 0.25rem 0.25rem;
}

.card:hover > div.card-body {
	background-color: transparent;
}

.card:hover {
	transform: translateY(-5px);
	border-color: white;
}

.rgb {
	position: absolute;
	height: 1rem;
	width: 100%;
	bottom: 0;
	left: 0;
}

.primary {
	background-color: #fbab7e;
	background-image: linear-gradient(62deg, #fbab7e 0%, #f7ce68 100%);
}

.secondary {
	background-color: #fbda61;
	background-image: linear-gradient(45deg, #fbda61 0%, #ff5acd 100%);
}

.animated-gradient-hr {
	animation: animateBg2 20s linear infinite;
	background-image: linear-gradient(
		90deg,
		#cf5c5c,
		#c19b4a,
		#def2a0,
		#c6ee4a,
		#42eca6,
		#64b3d9,
		#208ea2,
		#498ada,
		#5b73df,
		#897ed3,
		#cf5c5c,
		#c19b4a
	);
	background-size: 1100vw 100vw;
}

@keyframes animateBg2 {
	0% {
		background-position: 0% 0%;
	}
	100% {
		background-position: 100% 0%;
	}
}

.animated-gradient {
	animation: animateBg 20s linear infinite;
	background-image: linear-gradient(
		0deg,
		#cf5c5c,
		#c19b4a,
		#def2a0,
		#c6ee4a,
		#42eca6,
		#64b3d9,
		#208ea2,
		#498ada,
		#5b73df,
		#897ed3,
		#cf5c5c,
		#c19b4a
	);
	background-size: 100% 1100%;
}

@keyframes animateBg {
	0% {
		background-position: 0% 0%;
	}

	100% {
		background-position: 0% 100%;
	}
}

.glass {
	backdrop-filter: blur(16px) saturate(180%);
	-webkit-backdrop-filter: blur(16px) saturate(180%);
}
