<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('../partials/head')%>
	</head>
	<%- include('../partials/nav')%>

	<body>
		<form action="/games" method="post">
			<div>
				<label for="name">Name: </label>
				<br />
				<input type="text" name="name" id="name" required />
			</div>
			<div>
				<label for="image">Image link: </label>
				<br />
				<input type="text" name="image" id="image" />
			</div>
			<div>
				<label for="releaseYear">Release Year: </label>
				<br />
				<input type="number" name="releaseYear" id="releaseYear" />
			</div>
			<br />
			<button type="submit">Add Game</button>
		</form>
	</body>
</html>
